<%- include("partials/header"); -%>

    <h1>Hello</h1>

    <p>
        <%= startingContent %>
    </p>


    <!-- postsFrontend is list of post comming from server -->
    <% postsFrontend.forEach(function(post){ %>
        <h1>
            <%= post.title %>
        </h1>
        <p>
            <!-- post._id is for id of every post, which is use to render specific post -->
            <%= post.content.substring(0,100) + "..."; %> <a href="/posts/<%= post._id%>">Read More</a>
        </p>

        <% }); %>

            <%- include("partials/footer"); -%>